:root {
    --color--primary: #e384ff;
    --color--foreground: #ffa3fd;
    --color--background: #191825;
    --boxshadow: 7px 7px 0px -2px var(--color--background), 7px 7px var(--color--foreground);
}

/* Site wide style */
*{
    margin: 0px;
    padding: 0px;
    line-height: 1em;

    /* outline: red solid 1px; */
}

body {
    background-color: var(--color--background);
    color: var(--color--foreground);
    min-height: 100%;
}

/* Info text */
.wip-info {
    background-color: #ffcc00;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: mono-med;
}
a.wip-info {
    text-align: unset;
    padding: 0%;
    margin: 0%;
}
a.wip-info:hover {
    text-align: unset;
    padding: 0%;
    margin: 0%;
    color: white;
}

/* Site header */
.header{
    line-height: 60px;
}
div.header {
    font-family: uni-05_53;
    font-weight: 400;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
img.header{
    margin-left: 20px;
    margin-top: 10px;
}
a.header {
    margin-right: 15px;
    font-family: uni-05_53;
}
.header-title {
    font-family:uni-05_53;
    font-size:30px;
    margin-left:15px;
    margin-top:10px;
    text-decoration:none;
}
.header-links {
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 20px;
}

/* Footer */
footer {
    position: sticky;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: var(--color--background);
    width: 100%;
    height: 2em;
    padding-top: 1em;
    margin-top: 5em;
}

/* body */
.body {
    text-align: center;
    margin-top: 150px;
}
h1.body-text {
    font-family: mono-med;
    margin-bottom: 1em;
}
h2.body-text {
    font-family: mono-light;
    margin-top: 1em;
}
p.body-text {
    font-family: mono-reg;
    margin-top: -1em;
    margin-bottom: 1em;
}

/* Fonts */
.uni {
    font-family: uni-05_53;
    margin-top: 20px;
}
.mono-reg {
    font-family: mono-reg;
    margin-top: 20px;
}
.mono-ita {
    font-family: mono-ita;
    margin-top: 20px;
}
.mono-light {
    font-family: mono-light;
    margin-top: 20px;
}
.mono-light-ita {
    font-family: mono-light-ita;
    margin-top: 20px;
}
.mono-med {
    font-family: mono-med;
    margin-top: 20px;
}
.mono-med-ita{
    font-family: mono-med-ita;
    margin-top: 20px;
}

/* Pixel text block test */
.pixel-text-block {
    box-shadow: var(--boxshadow);
    border-radius: 0;
    border-color: var(--color--primary);
    border-width: 2px;
    border-style: solid;
    font-family: uni-05_53;
    display: inline-block;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
}
div.pixel-text-block {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Pixel image block test */
.pixel-image-block {
    box-shadow: var(--boxshadow);
    border-radius: 0;
    border-color: var(--color--primary);
    border-width: 2px;
    border-style: solid;
    display: inline-block;
}

/* Button style */
.button-box {
    background-color: var(--color--foreground);
    border-radius: 0;
    border-color: var(--color--primary);
    border-width: 2px;
    border-style: solid;
    color: var(--color--background);
    font-family: uni-05_53;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: var(--boxshadow);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10%;
    padding-right: 10%;
    width: 10em;
    min-width: fit-content;
}
.button-box:hover {
    background-color: var(--color--background);
    border-color: var(--color--primary);
    color: var(--color--primary);
}
.button-box:active {
    box-shadow: none;
    position: relative;
    left: 7px;
    top: 7px;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* Links style */
a:where(:not(.button-box)) {
    color: var(--color--foreground);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    font-family: mono-reg;
}
a:where(:not(.button-box)):hover {
    text-decoration: underline dotted;
}
a:where(:not(.button-box)):active {
    text-decoration: none;
}

/* projects page */
.project-canvas {
    display: grid;
    grid-template-columns: 305px 305px 305px;
    row-gap: 2em;
    column-gap: 2em;
    justify-content: center;
    line-height: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-title {
    font-family: mono-light;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 4px dotted var(--color--foreground);
}

.project-item {
    border: 2px solid var(--color--primary);
    box-shadow: var(--boxshadow);
    background-color: var(--color--foreground);
    color: var(--color--background);
    text-decoration: none;
    position: relative;
}
.project-item:hover {
    text-decoration: none;
    background-color: var(--color-background);
    color: var(--color--primary);
}
.project-item:active {
    box-shadow: none;
    position: relative;
    left: 7px;
    top: 7px;
}

.song-info {
    font-family: mono-reg;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 2em;
}
h2.project-item-text {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
h3.project-item-text {
    line-height: 1.1em;
}
p.project-item-text {
    font-family: mono-med;
    text-align: center;
}

.project-status {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: mono-light;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.status-public {
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -0.3em;
}
.status-private {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -0.3em;
}
.status-wip {
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -0.3em;
}