/* Site wide style */
*{
    margin: 0px;
}

/* Info text */
.wip-info {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    font-family: mono-med;
}

/*Tests for fonts*/
.uni {
    font-family: uni-05_53;
}
.mono-reg {
    font-family: mono-reg;
}
.mono-ita {
    font-family: mono-ita;
}
.mono-light {
    font-family: mono-light;
}
.mono-light-ita {
    font-family: mono-light-ita;
}
.mono-med {
    font-family: mono-med;
}
.mono-med-ita{
    font-family: mono-med-ita;
}